.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 1vmin);
  color: black;
  padding: 20px;
}

.App input{
  padding: 5px;
  font-size: 0.8em;
  margin: 5px;
  height: 20px;
}

.App button {
  padding: 5px;
  font-size: 0.8em;
  margin: 5px;
  height: 25px;
}


.App select {
  padding: 5px;
  font-size: 0.8em;
  margin: 5px;
  height: 34px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 10px;
  align-items: center;
}

.results {
  width: 100%;
  overflow-x: auto;
  margin: 20px 0;
}

.results table {
  width: 100%;
  border-collapse: collapse;
}

.results th, .results td {
  border: 1px solid #555;
  padding: 8px;
  text-align: left;
}

.results th {
  background-color: #eee;
}

hr {
  border: 0;
  height: 1px;
  background: #555;
  margin: 10px 0;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-container {
  display: flex;
  width: 450px;
  align-items: center;
}

.input-container h3 {
  margin-right: 10px;
  margin-left: 30px;
}

.input-container input,
.input-container select,
.input-container .react-datepicker-wrapper {
  margin-right: 10px;
}


